# Interview Qs

In [4]:
import numpy as np 
import pandas as pd

Write a function that can take in a text file and return the number of characters in the file categorized by:

alphabetic
numeric
other non space characters

The input to the function will be a text file (you can assume we scane the whole file). To help with this question, here is an example text file that we'll be using in our solution. For an additional hint, see this webpage.

https://u4221007.ct.sendgrid.net/ls/click?upn=qwT-2Bl0U064-2B7oRNpPgUya8GjH-2BHfJcP4935QwszXa5kUJf9dBc8t3K6Zqzay9N-2FAv8-2BO-2FONr81BFIsozOiK6vpWuMMD1O9nMcOkj-2FG3ODMs-3DxBSK_KcahIB7nYcfkUe6i5oRVK5zAflPxK9QLuEAavdBgKL5m0prGN4UeLoq4PM6Y8iQ79yKCSMrMaSIYJGRK5p0esGaXKlQr9DI1yFX6Tm7ICXay8JAmLCCXDDJKDvoyIVDkke-2FEE69ZZZ5zRNEtrK7TVzOLIwP0FK3mUyZdNgKB82OzB76Uhk9BWILqEJiemkZEGk6GqGbADP3IdGc4I48HSELfW8RFkVi7euo0v9y7Nc8-3D

Suppose you're analyzing a population of 100,000 people, and you're trying to understand life expectancy. Within this population of 100,000 people, 65% can expect to live to the age of 70, while 25% can expect to live to age 80.

Given that a person is already 70, what is the probability that they live to the age 80?

Hint: think about conditional probability theory when solving this one.

## <span style="color:teal">Python</span>

### Reverse It

Suppose you're given an array of strings, s. Write a function using Python to take each string in the array and reverse it.

In [27]:
def reverse_that_string(arr):
    return [s[::-1] for s in arr]

def reverse_this_string(arr):
    return [''.join(reversed(s)) for s in arr]

silly_string = ['wee', 'woo', 'hee', 'hoo']

In [28]:
reverse_that_string(silly_string)

['eew', 'oow', 'eeh', 'ooh']

In [29]:
reverse_this_string(silly_string)

['eew', 'oow', 'eeh', 'ooh']

## <span style="color:teal">Pandas</span>

### Replacing Bad Data

Suppose you are given a dataframe, df, that contains various negative values. In the context of your work, negative values can be considered 'bad data'. Write a function in Python (using Pandas) that replaces these bad values with the group mean.

Keywords: Python, Pandas, Data Cleaning

In [42]:
def bad_data(df):
    '''
    df : pandas dataframe
    cols : list of column names 
    
    '''
    df[df < 0] = bad_df[bad_df>0].mean().mean()   
    return df.round(2)

bad_arr = np.array([[1,3,2,4,1],[-1,3,-4,2,1],[4,1,1,-2,4],[2,3,-5,1,2],[0,3,-2,1,0]])
bad_df = pd.DataFrame(bad_arr, columns=['a', 'b', 'c', 'd', 'e'])

In [43]:
bad_data(bad_df)

      a  b     c     d  e
0  1.00  3  2.00  4.00  1
1  2.09  3  2.09  2.00  1
2  4.00  1  1.00  2.09  4
3  2.00  3  2.09  1.00  2
4  0.00  3  2.09  1.00  0

## <span style="color:teal">SQL</span>

Suppose you're given the following table, called 'employees':


| Name       |  Job_role                                |
|:----------:|:----------------------------------------:|
|  John      | Analyst                                  |
|  Harry     | Administrative Business Partner          |
|  Sam       | Software Engineer                        |
|  Tina      | Analyst                                  |



To test your SQL skills, create a query that returns the name and job_role of each individual who has either a name that contains the letter 'a' or a job role that ends in the letters 'er'.

## <span style="color:teal">Math</span>